<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Follow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

 <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img src="http://farm8.staticflickr.com/7011/6642321061_644a1f2ee1_b.jpg" style="width: 1388px; height: 500px;">
    </a>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/timeline">Home</a></li>
      </ul>

      </div>
    </div>
  </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="img-responsive">
        <img class="embed-responsive-item" src="https://lh3.googleusercontent.com/-3Zqv6Of_vlk/AAAAAAAAAAI/AAAAAAAAAAA/JiFX6Ovb6nc/photo.jpg" style="height:230px; width: 270px; display:block;"></iframe>
      </div>

      <h1>  <%=@parameters["username"]%> </h1>

    </div>
    <div class="col-sm-9">
      <ul class="list-group">
        <%if @parameters["follow_page"] == 0%>
          <h3>Followings of <%= @parameters["username"] %></h3>
        <% else %>
          <h3>Followers of <%= @parameters["username"] %></h3>
        <% end %>

        <% if !@parameters["users_list"].nil? %>
          <% @parameters["users_list"].each do |users| %>
            <li class="list-group-item">
              <h3><strong> <%= users["username"] %></strong> <small>@<%= users["followed_at_time"] %></small></h3>

              <%if users["is_following"] == nil%>
                <form action="/delete/follow" method="POST">
                  <input type = "hidden" value = "<%= @parameters["logged_user_profile"]["follower_id"]%>" name = "follower_id">
                  <input type = "hidden" value = "<%= @parameters["followee_id"]%>" name = "followee_id">
                  <input type = "submit" class="btn btn-success" value = "Unfollow">
                </form>
              <%else%>
                <form action="/create/follow" method="POST">
                  <input type = "hidden" value = "<%= @parameters["logged_user_profile"]["follower_id"]%>" name = "follower_id">
                  <input type = "hidden" value = "<%= @parameters["followee_id"]%>" name = "followee_id">
                  <input type = "submit" class="btn btn-danger" value = "Follow">
                </form>
              <%end%>
          <%end%>
        <%else%>
          <p>publish some tweets!</p>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
</body>
</html>
