<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/timeline">Home</a>
      <a class="navbar-brand" href="#">Notifications</a>
      <a class="navbar-brand" href="#">Moments</a>
      <a class="navbar-brand" href="#">Messages</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
       <ul class="nav  navbar-right"><li>
        <button type="button" class="btn btn-success btn-lg"><a href="/timeline">Tweet!</a></button>
       </li></ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img src="http://farm8.staticflickr.com/7011/6642321061_644a1f2ee1_b.jpg" class="img-responsive" style="width: 1388px; height: 500px;">
    </a>
  </div>
  <!-- <code> $(".mg-rounded img").addClass("carousel-inner img-responsive img-rounded");  <code>
</div> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">
          <button type="button" class="btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Tweets <br> <%= @parameters["homepage_tweet_list"].size()%> </button>
          </a>
        </li>

        <li><a href="#">
          <button type="button" class="btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Following<br> <%=@parameters["follow_number"]%> </button>
          </a>
        </li>
        <li><a href="#">
          <button type="button" class="btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Followers<br> <%=@parameters["follower_number"]%> </button>
          </a>
        </li>

        <li><a href="#">
          <button type="button" class="btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Favorites<br> 4 </button>
          </a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
         <%if @parameters["mode"] == "user_viewing_followed"%>
          <li><a href = '#'>
            <button type="button" class="btn btn-success">Unfollow</button>
          </a>
          </li>
        <%elsif @parameters["mode"] == "user_viewing_unfollowed"%>
          <li><a href = '#'>
            <button type="button" class="btn btn-danger">Follow</button>
          </a>
          </li>
        <%end%>

      </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="img-responsive">
        <iframe class="embed-responsive-item" src="https://lh3.googleusercontent.com/-3Zqv6Of_vlk/AAAAAAAAAAI/AAAAAAAAAAA/JiFX6Ovb6nc/photo.jpg" width="300px" height="220px"></iframe>
      </div>
      <h1>  <%=@parameters["username"]%> </h1>
    </div>
    <div class="col-sm-9">
      <ul class="list-group">
        <% if !@parameters["homepage_tweet_list"].nil? %>
          <% @parameters["homepage_tweet_list"].each do |tweet| %>

            <li class="list-group-item">
              <h3><strong> <%= @parameters["username"] %></strong> <small>@<%= tweet["time"] %></small></h3>
              <p><%= tweet["text"] * 16 %> </p>
              <button type="button" class="btn btn-info">Reply</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-info">Retweet</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-info">Favorite</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% end %>
        <%else%>
          <p>publish some tweets!</p>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
</body>
</html>
